# CodeIgniter
application/cache
application/logs
application/config/database.php
application/config/testing/database.php

tests/report.html
tests/report

uploads/*
test/*
docs/deployment/vagrant_teama/.vagrant


# OS Thumbnails
Thumbs.db
.DS_Store
*.bak
*.orig

# Specific files and/or file types
.htaccess
audio_container.txt
*.sql
!docs/deployment/install.sql
*.tmp
