# CodeIgniter
application/cache
application/logs
application/config/database.php
application/config/testing/database.php

tests/report.html
tests/report

uploads/*
test/*

# OS Thumbnails
Thumbs.db
.DS_Store
*.bak
*.orig

#html
.htaccess
audio_container.txt
*.sql

