<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    stopOnFailure="false"
    bootstrap="../application/third_party/CIUnit/bootstrap_phpunit.php">
    <php>
        <server name="SERVER_NAME" value="http://example.com" />
    </php>
    <testsuites>
        <testsuite name="ControllerTests">
            <directory>controllers</directory>
        </testsuite>
        <testsuite name="HelperTests">
            <directory suffix=".php">helpers</directory>
        </testsuite>
        <testsuite name="LibTests">
            <directory suffix=".php">libs</directory>
        </testsuite>
        <testsuite name="ModelTests">
            <directory suffix=".php">models</directory>
        </testsuite>
        <testsuite name="SystemTests">
            <directory suffix=".php">system</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../application</directory>
            <exclude>
                <directory suffix=".php">../application/config</directory>
                <directory suffix=".php">../application/core</directory>
                <directory suffix=".php">../application/errors</directory>
                <directory suffix=".php">../application/helpers</directory>
                <directory suffix=".php">../application/third_party</directory>
                <directory suffix=".php">../application/views</directory>
                <file>../application/controllers/admin.php</file>
                <file>../application/controllers/admin_comment.php</file>
                <file>../application/controllers/admin_narrative.php</file>
                <file>../application/controllers/comments.php</file>
                <file>../application/controllers/edit_narrative.php</file>
                <file>../application/controllers/index.html</file>
                <file>../application/controllers/pages.php</file>
                <file>../application/controllers/player.php</file>
                <file>../application/controllers/topic.php</file>
                <file>../application/controllers/tutorialPlayer.php</file>
                <file>../application/controllers/unit_test.php</file>
            </exclude>
      </whitelist>
    </filter>
</phpunit>
