/**
 * All your custom CSS should go into this file
 */

@font-face {
  font-family: myFirstFont;
  src: url('../font/COUTURE-Bold.ttf');
  font-weight:bold;
}

body {
   background: #fcfcfc;
   /*overflow: hidden;*/
}

/* home page */


.container{ }

.home{ position: relative; height: 100%; width: 100%; overflow: hidden;}


#bubble-container { border: 1px solid #ccc; border-radius: 6px; padding: 1px; margin-bottom: 30px; line-height: 2.1428571435; color: inherit; background-color: #eeeeee; }

.help-container { position: fixed; bottom: 0; right: 20px; }
.btn-help { border-bottom-right-radius:0; border-bottom-left-radius:0; }
.btn-feedback { border-bottom-right-radius:0; border-bottom-left-radius:0; }

.node:hover{background: #000;}

/* Homepage Banner */
.page-header {
  margin: 1em 0px;
  padding-bottom: 0px;
}
.page-header h1 {
  font-family: myFirstFont;
  font-size: 400%;
  margin: 0px;
}

#page-header-you {
  color: white; text-shadow: 1px 1px #000000, -1px -1px #000000;
}

.flagicon {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
  margin-top: -6px;
}

.flagicon-en {
  background: transparent url('../img/flag-en.png') no-repeat center center;
}

.flagicon-fr {
  background: transparent url('../img/flag-fr.png') no-repeat center center;
}

/* circle thing/
circle:hover {
	opacity: 0.8;

}
*/
/*
pie chart hover.node-base:hover {
  opacity: 0.8;
}
*/

/* Admin */

.dropdown-margin{ margin: 20px 0; }






/* helper classes */

.top-margin{margin-top: 5px;}
.left-margin{margin-left: 5px;}
.right-margin{margin-right: 5px;}
.bottom-margin{margin-bottom: 5px;}

.fixed-margin{margin-top: 50px;}

.float-left{ float: left; }
.float-right { float: right; }
.clear{ clear: both; }
