/**
 * All your custom CSS should go into this file
 */

/*****************************************************************************

								Globals

 *****************************************************************************/
@font-face {
	font-family: myFirstFont;
	src: url('../font/COUTURE-Bold.ttf');
	font-weight:bold;
}

@keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
}​

body {
	 background: #fcfcfc;
}

@media only screen and (min-width: 1650px) {
	.container {
		width: 1620px;
	}
}

/*****************************************************************************

								Helper Clases

 *****************************************************************************/
.top-margin{
	margin-top: 5px;
}
.left-margin{
	margin-left: 5px;
}
.right-margin{
	margin-right: 5px;
}
.bottom-margin{
	margin-bottom: 5px;
}

.big-top-margin{
	margin-top: 15px;
}
.big-left-margin{
	margin-left: 15px;
}
.big-right-margin{
	margin-right: 15px;
}
.big-bottom-margin{
	margin-bottom: 15px;
}

.top-padding{
	padding-top: 5px;
}
.left-padding{
	padding-left: 5px;
}
.right-padding{
	padding-right: 5px;
}
.bottom-padding{
	padding-bottom: 5px;
}

.float-left{
	float: left;
}
.float-right {
	float: right;
}
.clear{
	clear: both;
}

.display-block{
	display: block;
}
.display-inline{
	display: inline;
}
.display-inline-block{
	display: inline-block;
}

.bottom-border{
	border-bottom: 1px solid #ddd;
}
.top-border{
	border-top: 1px solid #ddd;
}

.portal-topic {
	padding: 0em 1em;
}
.portal-topic h3 {
	margin: 3px 0;
}

.debug input {
	margin-left: 1em;
}
.debug label {
	padding-left: 0.1em;
}

span.red { color: #c23b22; }
span.green { color: #03c03c; }
span.blue { color: #0198e1; }
span.yellow { color: #ffbf00; }


/*****************************************************************************

									Homepage

 *****************************************************************************/
.home {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.page-header {
	margin: 1em 0px;
	padding-bottom: 0px;
}
.page-header h1 {
	font-family: myFirstFont;
	font-size: 400%;
	margin: 0px;
}

#page-header-you {
	color: white; text-shadow: 1px 1px #000000, -1px -1px #000000;
}

#homepage-content-wrapper {
	width: 100%;
	margin-bottom: 30px;
	border: 1px solid #ccc;
	border-radius: 6px;
	line-height: 2.1428571435;
	margin-top: 0.5em;
}

#homepage-content-wrapper .inner {
	width: 100%;
	position: relative;
	line-height: 2.1428571435;
	color: inherit;
	background-color: #ccc;
}

#bubble-container {
	position: relative;
	width: 85%;
	color: inherit;
	background-color: #eeeeee;
}

#recent-container {
	float: right;
	width: 15%;
}

#recent-container .svg-container {
  overflow-y: scroll;
}

.controls-container .btn{ box-shadow: 0 1px 0 #bbb; }
.filter-container .btn{ box-shadow: 0 1px 0 #bbb; }

/*****************************************************************************

									Controls

 *****************************************************************************/
.controls-container {
	position: relative;
}

.help-container {
  position: absolute;
  bottom: -0.5em; /* matches margin-top of #homepage-content-wrapper */
  right: 64px;
}

.flagicon {
	display: inline-block;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	position: relative;
	top: 6px;
	margin-top: -6px;
}
.flagicon-en {
	background: transparent url('../img/flag-en.png') no-repeat center center;
}
.flagicon-fr {
	background: transparent url('../img/flag-fr.png') no-repeat center center;
}
.btn-help {
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
}
.btn-feedback {
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
}

/*****************************************************************************

									Bubbles

 *****************************************************************************/

.node:hover{background: #000;}

.slice {
	 -webkit-appearance: button;
		-webkit-animation: fadein .5s; /* Safari and Chrome */
			 -moz-animation: fadein .5s; /* Firefox */
				-ms-animation: fadein .5s; /* Internet Explorer */
				 -o-animation: fadein .5s; /* Opera */
						animation: fadein .5s;
}

/*****************************************************************************

									Admin

 *****************************************************************************/
.dropdown-margin2{ margin: 20px 0; }

.sort-btn:hover{ text-decoration:none; }
.sort-btn.active{ padding: 5px; border-radius: 4px; background: #DDDDDD;}
.sort-btn.active.asc:after{	content: "▲"; }
.sort-btn.active.desc:after{	content: "▼"; }

/*****************************************************************************

									Flags

 *****************************************************************************/
.flag-wrapper{ width: 60%; margin-right: 20px;}

.flag-wrapper td:nth-child(2){ max-width: 200px;}
.flag-wrapper td:nth-child(3){ min-width: 150px;}

/*****************************************************************************

									Player

 *****************************************************************************/

.player-wrapper{ position: relative;}

.player-buttons .btn{ box-shadow: 0 1px 0 #bbb; }


/*****************************************************************************

									Comments

 *****************************************************************************/
.filler {
	height: 400px;
	width: 400px;
	background: black;
}

.form-control {
	resize: vertical;
}

.comments-wrapper {
	margin-top: 1em;
	height: 432px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.comment {
	position: relative;
	min-height: 80px;
	width: 400px;
	border: 1px solid #fff;
	border-top: none;
	background: #EDEFF4;
	color: #333;
	padding: 15px;
}
.comment:first-child  {
	border-top: 0px solid #fff;
}

.quote {
	margin: 10px;
	background: #DDDFE4;
	color: #333;
	padding: 10px;
}

.quote:hover {
	background: #D3D4DD;
}

.comment .actions {
	float: right;
}

.comment .actions a {
	margin-left: 1em;
}

.soundtracks .soundtrack-wrapper {
	margin-bottom: 15px;
}
.soundtracks label {
	margin-top: 0.3em;
}
.soundtracks .soundtrack {
	display: inline-block;
}
.pictures .picture label {
	display: block;
}

.narrative-info td.data-label {
  font-weight: bold;
}
.narrative-info td.data-value {
  text-align: right;
  padding-right: 0.5em;
}
