/**
 * All your custom CSS should go into this file
 */

body {
   padding-top: 15px;
}

/* home page */

.home{height: 100%; width: 100%; overflow: hidden;}

.btn-feedback { position: absolute; bottom: -5px; right: 18%;}
