/**
 * All your custom CSS should go into this file
 */

/*****************************************************************************

								Globals

 *****************************************************************************/
@font-face {
	font-family: myFirstFont;
	src: url('../font/COUTURE-Bold.ttf');
	font-weight:bold;
}

@keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
}​

body {
	 background: #fcfcfc;
}

@media only screen and (min-width: 1350px) {
	.container {
		width: 1320px;
	}
}

/*****************************************************************************

								Helper Clases

 *****************************************************************************/
span.bold{
	font-weight: bold;
}

.top-margin{
	margin-top: 5px;
}
.left-margin{
	margin-left: 5px;
}
.right-margin{
	margin-right: 5px;
}
.bottom-margin{
	margin-bottom: 5px;
}

.big-top-margin{
	margin-top: 15px;
}
.big-left-margin{
	margin-left: 15px;
}
.big-right-margin{
	margin-right: 15px;
}
.big-bottom-margin{
	margin-bottom: 15px;
}

.top-padding{
	padding-top: 5px;
}
.left-padding{
	padding-left: 5px;
}
.right-padding{
	padding-right: 5px;
}
.bottom-padding{
	padding-bottom: 5px;
}

.float-left{
	float: left;
}
.float-right {
	float: right;
}
.clear{
	clear: both;
}

.display-block{
	display: block;
}
.display-inline{
	display: inline;
}
.display-inline-block{
	display: inline-block;
}

.bottom-border{
	border-bottom: 1px solid #ddd;
}
.top-border{
	border-top: 1px solid #ddd;
}

.portal-topic {
	padding: 0em 1em;
}
.portal-topic h3 {
	margin: 3px 0;
}

.debug input {
	margin-left: 1em;
}
.debug label {
	padding-left: 0.1em;
}

div.purple{ background: #743CBC; }
div.lightgrey{ background: #777777; }
div.lightblue{ background: #4282D3; }
span.red { color: #c23b22; /*#D9534F;*/}
span.green { color: #03c03c; /*#5CB85C; */}
span.blue { color: #0198e1; }
span.yellow { color: #ffbf00; }
span.grey { color: #808080; }
span.ltgrey { color: #A0A0A0; }
span.purple { color: #9E76D0; }
span.lightblue { color: #7BA7E0; }

/*****************************************************************************

									Homepage

 *****************************************************************************/
.home {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.page-header {
	margin: 1em 0px 1.5em;
	padding-bottom: 0px;
}
.page-header h1 {
	font-family: myFirstFont;
	font-size: 400%;
	margin: 0px;
	padding-bottom: 0px;
}

#page-header-you {
	/*color: white; text-shadow: 1px 1px #000000, -1px -1px #000000;*/
}

.topic-header {
	float: right;
	text-align: right;
}

#homepage-content-wrapper {
	/*width: 100%;
	margin-bottom: 30px;
	border: 1px solid #ccc;
	border-radius: 6px;
	line-height: 2.1428571435;
	margin-top: 0.5em;*/
}

#homepage-content-wrapper .inner {
	width: 100%;
	position: relative;
	/*line-height: 2.1428571435;*/
	color: inherit;
	/*background-color: #ccc;*/
}

#bubble-container {
	width: 100%;
	position: relative;
	color: inherit;
	/*background-color: #eeeeee;*/
}

#narrative-wrapper {
	margin-bottom: 5px;
}

#recent-container {
	clear: both;
	height: 180px;
	/*background-color: #ccc;*/
}

#recent-container .svg-container {
  overflow-x: auto;
}

#recent-wrapper{
	width: 100%;
}

.legend-circle {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	opacity: 0.7;
	/* width and height can be anything, as long as they're equal */
}

.controls-container .btn{ box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); }
.filter-container .btn{ box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); }

/*****************************************************************************

									Controls

 *****************************************************************************/
.controls-container {
	position: relative;
}

.help-container {
  position: absolute;
  bottom: -5px; /* matches margin-top of #homepage-content-wrapper */
  right: 64px;
}

.flagicon {
	display: inline-block;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	position: relative;
	top: 6px;
	margin-top: -6px;
}
.flagicon-en {
	background: transparent url('../img/flag-en.png') no-repeat center center;
}
.flagicon-fr {
	background: transparent url('../img/flag-fr.png') no-repeat center center;
}
.btn-help {
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
}
.btn-feedback {
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
}

/*****************************************************************************

									Bubbles

 *****************************************************************************/

.node:hover{background: #000;}

.slice {
	 -webkit-appearance: button;
		-webkit-animation: fadein .5s; /* Safari and Chrome */
			 -moz-animation: fadein .5s; /* Firefox */
				-ms-animation: fadein .5s; /* Internet Explorer */
				 -o-animation: fadein .5s; /* Opera */
						animation: fadein .5s;
}

/*****************************************************************************

									Admin

 *****************************************************************************/
.dropdown-margin2{ margin: 20px 0; }

.sort-btn:hover{ text-decoration:none; }
.sort-btn.active{ padding: 5px; border-radius: 4px; background: #DDDDDD;}
.sort-btn.active.asc:after{	content: "▲"; }
.sort-btn.active.desc:after{	content: "▼"; }

/*****************************************************************************

									Admin Dashboard

 *****************************************************************************/
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}


/*****************************************************************************

									Flags

 *****************************************************************************/
.flag-wrapper{ width: 60%; margin-right: 20px;}

.flag-wrapper td:nth-child(2){ max-width: 200px;}
.flag-wrapper td:nth-child(3){ min-width: 150px;}

.flag-narrative-wrapper {
	position: relative;
	width: 400px;
}

/*****************************************************************************

									Player

 *****************************************************************************/

.player-wrapper{ position: relative;}

.player-buttons .btn{ box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); }


/*****************************************************************************

									Comments

 *****************************************************************************/
.filler {
	height: 400px;
	width: 400px;
	background: black;
}

.form-control {
	resize: vertical;
}

.comments-container{

}

.comments-wrapper {
	margin-top: 1em;
	height: 432px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.comment {
	position: relative;
	min-height: 80px;
	width: 400px;
	border: 1px solid #fff;
	border-top: none;
	background: #EDEFF4;
	color: #333;
	padding: 15px;
}
.comment:first-child  {
	border-top: 0px solid #fff;
}

.quote {
	margin: 10px;
	background: #DDDFE4;
	color: #333;
	padding: 10px;
}

.quote:hover {
	background: #D3D4DD;
}

.comment .actions {
	float: right;
}

.comment .date{
	font-style: italic;
	font-size: 11px;
}
.comment .actions a {
	margin-left: 1em;
}

.soundtracks .soundtrack-wrapper {
	margin-bottom: 15px;
}
.soundtracks label {
	margin-top: 0.3em;
}
.soundtracks .soundtrack {
	display: inline-block;
}
.pictures .picture label {
	display: block;
}

.narrative-info td.data-label {
  font-weight: bold;
}
.narrative-info td.data-value {
  text-align: right;
  padding-right: 0.5em;
}

/* To change position of close button to Top Right Corner */
/*#colorbox #cboxClose
{
	top: 0;
	right: 0;
}
#cboxLoadedContent{
	margin-top:28px;
	margin-bottom:0;
}
*/

#cboxLoadingOverlay {
	background: #fff;
}

#cboxLoadingGraphic {
	background: url('../colorbox-master/example4/images/loading.gif') no-repeat center center;
}

#cboxContent {
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
	background: #fff;
}

#cboxLoadedContent {
	background: #ffffff;
	padding: 2em;
}

#cboxClose {
	right: 3px;
	top: 1px;
}

.narrative-report-wrapper {
	position: relative;
	top: 2em;
}
